
.chatbox {
  width: 80vh;
  height: 80vh;
  background-color: #313131;
  border-radius: 8px;
  margin:auto;

}

.bubble{
  width: 88%;
  height: 15%;
  background-color: #6c6c6c;
  color: white;
  margin:auto;
  border-radius: 8px;

}

.background{
  background: linear-gradient(217deg, rgb(225, 50, 145), rgba(255,0,0,0) 42.75%),
  linear-gradient(127deg, rgb(40, 0, 161), rgba(0,255,0,0) 130.00%),
  linear-gradient(336deg, rgb(83, 22, 190), rgba(0,0,255,0) 60.71%);
  height: 100vh;

}
